.Book-Container {
    padding: 14px;
    display: flex;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    max-width: 20vw;
}

.Book-Container > img {
    width: 48px !important;
    height: 75px !important;
    border-radius: 5px;
    margin-right: 20px;
}

.Details {
    max-width: calc(100% - 68px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Details > header {
    font-weight: bold;
}

.Details > main {
    margin-top: 7px;
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}